.story {
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;

      
    }

    &__img--1 {
        width: 100%;
        grid-row: 2/6; 
        grid-column: 2/6;
        box-shadow: 0 2rem 5rem rgba(#000, .3);

    }

    &__img--2 {
        width: 115%;
        grid-row: 4/6;
        grid-column: 4/7;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .5);
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;

        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: center;

        display: grid;
        align-items: center;
        justify-items: start;

    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}

.btn {
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}